<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972308486238-gjp7qmhmi41jpukvbltr90ap484jpja1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972308486238-gjp7qmhmi41jpukvbltr90ap484jpja1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>972308486238-anb8vpkd3q7u1382djhi7sk206bbkms4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANqJncnZ6qdgrRO2bzhwz_LI4smgPZD-I</string>
	<key>GCM_SENDER_ID</key>
	<string>972308486238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cofounderAi</string>
	<key>PROJECT_ID</key>
	<string>cofounder-ai-e647c</string>
	<key>STORAGE_BUCKET</key>
	<string>cofounder-ai-e647c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972308486238:ios:79bb8e4ad4be99a8113ccf</string>
</dict>
</plist>